# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# Visual Studio Code
.vscode/

# Miscellaneous
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
testem.log/
typings/

# System files
.DS_Store/
Thumbs.db

# Compiled TypeScript
*.js
*.js.map
!*.config.js

# Environment files
.env